# Configurações do Banco de Dados
DATABASE_URL="postgresql://usuario:senha@localhost:5432/naildiary?schema=public"

# Configurações JWT
JWT_SECRET="seu_jwt_secret_super_seguro_aqui"

# Configurações do Servidor
PORT=3001
NODE_ENV=development

# Configurações CORS
FRONTEND_URL="http://localhost:5173"

